<section>
    <div class="container">
        <div class="header">
            <h2>{{post.title}}</h2>
            <span>Posted by {{post.user.username}} {{formatDate post.createdAt}}</span>
        </div>
        <div class="body">
            <p>{{post.content}} </p>
        </div>
    </div>
    {{#each comments as | comment|}}
    {{> comment-details}}
    {{/each}}
    <form id="comment-form" data-post-id="{{post.id}}">
        <div class="dashboard-container">
            <div class="dashboard-body">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <input type="text" id="comment-text" name="comment" class="input">
                </div>
                <button class="btn" type="submit">Save</button>
            </div>
        </div>
    </form>
</section>